:root, .light, .light-theme {
  --amber-1: 40 60 99;
  --amber-2: 51 91.3 95.5;
  --amber-3: 52 100 88;
  --amber-4: 50 100 80.6;
  --amber-5: 50 94.3 72.5;
  --amber-6: 46 84.2 70.2;
  --amber-7: 42 75.4 64.9;
  --amber-8: 38 74.8 54.9;
  --amber-9: 42 100 62;
  --amber-10: 42 100 54.7;
  --amber-11: 35 100 33.5;
  --amber-12: 24 39.8 22.2;
}
.dark, .dark-theme {
  --amber-1: 36 29.4 6.7;
  --amber-2: 39 31.8 8.6;
  --amber-3: 36 71.4 11;
  --amber-4: 37 100 12.4;
  --amber-5: 37 100 15.1;
  --amber-6: 39 89.7 19;
  --amber-7: 37 63.8 27.1;
  --amber-8: 36 59.8 35.1;
  --amber-9: 42 100 62;
  --amber-10: 50 100 52;
  --amber-11: 46 100 54.3;
  --amber-12: 41 100 85.1;
}