:root, .light, .light-theme {
  --amber-1: 40deg 60% 99%;
  --amber-2: 51deg 91.3% 95.5%;
  --amber-3: 52deg 100% 88%;
  --amber-4: 50deg 100% 80.6%;
  --amber-5: 50deg 94.3% 72.5%;
  --amber-6: 46deg 84.2% 70.2%;
  --amber-7: 42deg 75.4% 64.9%;
  --amber-8: 38deg 74.8% 54.9%;
  --amber-9: 42deg 100% 62%;
  --amber-10: 42deg 100% 54.7%;
  --amber-11: 35deg 100% 33.5%;
  --amber-12: 24deg 39.8% 22.2%;
}
.dark, .dark-theme {
  --amber-1: 36deg 29.4% 6.7%;
  --amber-2: 39deg 31.8% 8.6%;
  --amber-3: 36deg 71.4% 11%;
  --amber-4: 37deg 100% 12.4%;
  --amber-5: 37deg 100% 15.1%;
  --amber-6: 39deg 89.7% 19%;
  --amber-7: 37deg 63.8% 27.1%;
  --amber-8: 36deg 59.8% 35.1%;
  --amber-9: 42deg 100% 62%;
  --amber-10: 50deg 100% 52%;
  --amber-11: 46deg 100% 54.3%;
  --amber-12: 41deg 100% 85.1%;
}