:root, .light, .light-theme {
  --blue-1: 210 100 99.2;
  --blue-2: 207 100 97.8;
  --blue-3: 205 92.3 94.9;
  --blue-4: 203 100 91.8;
  --blue-5: 206 100 88;
  --blue-6: 207 93 83.1;
  --blue-7: 207 85.2 76.1;
  --blue-8: 206 81.9 65.3;
  --blue-9: 206 100 50;
  --blue-10: 207 95.9 48;
  --blue-11: 208 88.1 42.9;
  --blue-12: 216 70.9 22.9;
}
.dark, .dark-theme {
  --blue-1: 215 42.2 8.8;
  --blue-2: 218 39.3 11;
  --blue-3: 212 69 16.5;
  --blue-4: 209 100 19.2;
  --blue-5: 207 100 22.7;
  --blue-6: 209 78.8 29.6;
  --blue-7: 211 66.3 37.3;
  --blue-8: 211 65.1 44.9;
  --blue-9: 206 100 50;
  --blue-10: 210 100 61.6;
  --blue-11: 210 100 72;
  --blue-12: 205 100 88;
}