:root, .light, .light-theme {
  --blue-1: 210deg 100% 99.2%;
  --blue-2: 207deg 100% 97.8%;
  --blue-3: 205deg 92.3% 94.9%;
  --blue-4: 203deg 100% 91.8%;
  --blue-5: 206deg 100% 88%;
  --blue-6: 207deg 93% 83.1%;
  --blue-7: 207deg 85.2% 76.1%;
  --blue-8: 206deg 81.9% 65.3%;
  --blue-9: 206deg 100% 50%;
  --blue-10: 207deg 95.9% 48%;
  --blue-11: 208deg 88.1% 42.9%;
  --blue-12: 216deg 70.9% 22.9%;
}
.dark, .dark-theme {
  --blue-1: 215deg 42.2% 8.8%;
  --blue-2: 218deg 39.3% 11%;
  --blue-3: 212deg 69% 16.5%;
  --blue-4: 209deg 100% 19.2%;
  --blue-5: 207deg 100% 22.7%;
  --blue-6: 209deg 78.8% 29.6%;
  --blue-7: 211deg 66.3% 37.3%;
  --blue-8: 211deg 65.1% 44.9%;
  --blue-9: 206deg 100% 50%;
  --blue-10: 210deg 100% 61.6%;
  --blue-11: 210deg 100% 72%;
  --blue-12: 205deg 100% 88%;
}