:root, .light, .light-theme {
  --brown-1: 30deg 50% 99.2%;
  --brown-2: 30deg 50% 97.6%;
  --brown-3: 28deg 45.5% 93.5%;
  --brown-4: 29deg 43.4% 89.6%;
  --brown-5: 29deg 45.2% 85.7%;
  --brown-6: 29deg 45.5% 80.6%;
  --brown-7: 29deg 46.6% 74.3%;
  --brown-8: 28deg 44.9% 65.1%;
  --brown-9: 28deg 34.1% 51.2%;
  --brown-10: 26deg 31.7% 47.6%;
  --brown-11: 24deg 29.6% 39%;
  --brown-12: 19deg 14.8% 21.2%;
}
.dark, .dark-theme {
  --brown-1: 40deg 9.1% 6.5%;
  --brown-2: 20deg 12% 9.8%;
  --brown-3: 22deg 15.9% 13.5%;
  --brown-4: 26deg 19% 16.5%;
  --brown-5: 25deg 21.6% 20%;
  --brown-6: 26deg 24.2% 24.3%;
  --brown-7: 26deg 26% 30.2%;
  --brown-8: 28deg 27.8% 38%;
  --brown-9: 28deg 34.1% 51.2%;
  --brown-10: 27deg 36.3% 56.3%;
  --brown-11: 28deg 49.7% 72%;
  --brown-12: 35deg 60.6% 87.1%;
}