:root, .light, .light-theme {
  --cyan-1: 195 66.7 98.8;
  --cyan-2: 187 52.9 96.7;
  --cyan-3: 184 69.2 92.4;
  --cyan-4: 187 71 87.8;
  --cyan-5: 187 66.3 82.5;
  --cyan-6: 188 60.7 76.1;
  --cyan-7: 189 57.6 67.6;
  --cyan-8: 189 60.3 52.5;
  --cyan-9: 191 100 39;
  --cyan-10: 191 92.7 37.6;
  --cyan-11: 192 81 32.9;
  --cyan-12: 192 69.4 16.7;
}
.dark, .dark-theme {
  --cyan-1: 196 40.5 7.3;
  --cyan-2: 199 33.3 9.4;
  --cyan-3: 193 74.2 12.2;
  --cyan-4: 193 100 14.1;
  --cyan-5: 193 100 17.3;
  --cyan-6: 192 92.6 21.2;
  --cyan-7: 193 75 28.2;
  --cyan-8: 192 80.3 33.9;
  --cyan-9: 191 100 39;
  --cyan-10: 191 71.2 47.6;
  --cyan-11: 190 75.5 60;
  --cyan-12: 190 80.2 84.1;
}