:root, .light, .light-theme {
  --cyan-1: 195deg 66.7% 98.8%;
  --cyan-2: 187deg 52.9% 96.7%;
  --cyan-3: 184deg 69.2% 92.4%;
  --cyan-4: 187deg 71% 87.8%;
  --cyan-5: 187deg 66.3% 82.5%;
  --cyan-6: 188deg 60.7% 76.1%;
  --cyan-7: 189deg 57.6% 67.6%;
  --cyan-8: 189deg 60.3% 52.5%;
  --cyan-9: 191deg 100% 39%;
  --cyan-10: 191deg 92.7% 37.6%;
  --cyan-11: 192deg 81% 32.9%;
  --cyan-12: 192deg 69.4% 16.7%;
}
.dark, .dark-theme {
  --cyan-1: 196deg 40.5% 7.3%;
  --cyan-2: 199deg 33.3% 9.4%;
  --cyan-3: 193deg 74.2% 12.2%;
  --cyan-4: 193deg 100% 14.1%;
  --cyan-5: 193deg 100% 17.3%;
  --cyan-6: 192deg 92.6% 21.2%;
  --cyan-7: 193deg 75% 28.2%;
  --cyan-8: 192deg 80.3% 33.9%;
  --cyan-9: 191deg 100% 39%;
  --cyan-10: 191deg 71.2% 47.6%;
  --cyan-11: 190deg 75.5% 60%;
  --cyan-12: 190deg 80.2% 84.1%;
}