:root, .light, .light-theme {
  --gold-1: 60 20 99;
  --gold-2: 53 44.4 96.5;
  --gold-3: 49 29.7 92.7;
  --gold-4: 44 26.3 88.8;
  --gold-5: 43 23.1 84.7;
  --gold-6: 41 24.3 79.8;
  --gold-7: 40 24.1 73.1;
  --gold-8: 37 23.9 63.9;
  --gold-9: 36 19.8 49.4;
  --gold-10: 37 19.7 45.9;
  --gold-11: 36 20.2 36.9;
  --gold-12: 38 15.7 20;
}
.dark, .dark-theme {
  --gold-1: 60 2.9 6.9;
  --gold-2: 45 8 9.8;
  --gold-3: 48 7.5 13.1;
  --gold-4: 43 8.4 16.3;
  --gold-5: 42 9.8 20;
  --gold-6: 38 8.8 24.5;
  --gold-7: 39 9.1 30.2;
  --gold-8: 38 9.9 37.5;
  --gold-9: 36 19.8 49.4;
  --gold-10: 36 20.7 54.5;
  --gold-11: 35 29.7 71;
  --gold-12: 36 24.6 88;
}