:root, .light, .light-theme {
  --grass-1: 120deg 60% 99%;
  --grass-2: 120deg 42.9% 97.3%;
  --grass-3: 120deg 41.9% 93.9%;
  --grass-4: 123deg 45.1% 90%;
  --grass-5: 122deg 40.3% 84.9%;
  --grass-6: 124deg 38.7% 78.2%;
  --grass-7: 126deg 37.2% 69.4%;
  --grass-8: 131deg 38.1% 56.3%;
  --grass-9: 131deg 40.9% 46.5%;
  --grass-10: 131deg 42.9% 42.5%;
  --grass-11: 132deg 50% 32.9%;
  --grass-12: 131deg 30.4% 18%;
}
.dark, .dark-theme {
  --grass-1: 146deg 20% 6.9%;
  --grass-2: 130deg 13% 9%;
  --grass-3: 132deg 21.7% 13.5%;
  --grass-4: 134deg 33.3% 17.1%;
  --grass-5: 134deg 32.1% 21.4%;
  --grass-6: 133deg 31.8% 25.9%;
  --grass-7: 132deg 31.2% 30.8%;
  --grass-8: 131deg 32.2% 35.9%;
  --grass-9: 131deg 40.9% 46.5%;
  --grass-10: 131deg 38.7% 51.4%;
  --grass-11: 131deg 50.3% 62.9%;
  --grass-12: 120deg 60.5% 85.1%;
}