:root, .light, .light-theme {
  --green-1: 140 60 99;
  --green-2: 137 46.7 97.1;
  --green-3: 139 47.1 93.3;
  --green-4: 140 49.1 89.2;
  --green-5: 142 43.9 83.9;
  --green-6: 144 41.4 77.3;
  --green-7: 146 39.5 68.2;
  --green-8: 151 40.2 54.1;
  --green-9: 151 54.7 41.6;
  --green-10: 152 56.3 38.6;
  --green-11: 154 59.8 32.2;
  --green-12: 155 40.5 16.5;
}
.dark, .dark-theme {
  --green-1: 154 20 6.9;
  --green-2: 153 20 8.8;
  --green-3: 152 40.6 12.5;
  --green-4: 154 55.3 14.9;
  --green-5: 154 52.1 18.8;
  --green-6: 153 46.2 23.3;
  --green-7: 152 44.4 28.2;
  --green-8: 151 45 33.5;
  --green-9: 151 54.7 41.6;
  --green-10: 151 55.1 44.5;
  --green-11: 151 65.1 53.9;
  --green-12: 144 69.6 82;
}