:root, .light, .light-theme {
  --indigo-1: 240 33.3 99.4;
  --indigo-2: 225 100 98.4;
  --indigo-3: 222 89.5 96.3;
  --indigo-4: 224 100 94.1;
  --indigo-5: 224 100 91.2;
  --indigo-6: 225 100 87.8;
  --indigo-7: 226 86.7 82.4;
  --indigo-8: 226 75.4 74.5;
  --indigo-9: 226 70 55.5;
  --indigo-10: 226 65.2 51.6;
  --indigo-11: 226 55.7 50.4;
  --indigo-12: 226 49.6 24.1;
}
.dark, .dark-theme {
  --indigo-1: 231 29.2 9.4;
  --indigo-2: 230 31 11.4;
  --indigo-3: 225 50.5 19;
  --indigo-4: 225 54.3 24.9;
  --indigo-5: 225 51.6 30;
  --indigo-6: 226 46.7 35.3;
  --indigo-7: 226 44.5 41;
  --indigo-8: 226 45.1 47.8;
  --indigo-9: 226 70 55.5;
  --indigo-10: 228 72.7 61.2;
  --indigo-11: 228 100 81;
  --indigo-12: 224 100 92;
}