:root, .light, .light-theme {
  --iris-1: 240deg 100% 99.6%;
  --iris-2: 240deg 100% 98.6%;
  --iris-3: 236deg 87.5% 96.9%;
  --iris-4: 238deg 100% 95.1%;
  --iris-5: 237deg 100% 92.7%;
  --iris-6: 238deg 100% 89.8%;
  --iris-7: 238deg 82.1% 84.7%;
  --iris-8: 238deg 73.9% 77.5%;
  --iris-9: 240deg 60% 59.8%;
  --iris-10: 240deg 55.4% 56.1%;
  --iris-11: 242deg 50.2% 55.1%;
  --iris-12: 238deg 43.1% 26.9%;
}
.dark, .dark-theme {
  --iris-1: 240deg 22.4% 9.6%;
  --iris-2: 244deg 25.4% 11.6%;
  --iris-3: 237deg 38.5% 20.4%;
  --iris-4: 236deg 45.3% 27.3%;
  --iris-5: 237deg 41.5% 32.2%;
  --iris-6: 239deg 36.1% 37.5%;
  --iris-7: 240deg 33.6% 43.7%;
  --iris-8: 241deg 36.3% 52%;
  --iris-9: 240deg 60% 59.8%;
  --iris-10: 242deg 63.7% 64.3%;
  --iris-11: 246deg 100% 83.1%;
  --iris-12: 242deg 93.9% 93.5%;
}