:root, .light, .light-theme {
  --jade-1: 160deg 60% 99%;
  --jade-2: 146deg 46.7% 97.1%;
  --jade-3: 145deg 51.5% 93.5%;
  --jade-4: 149deg 49.1% 89.2%;
  --jade-5: 152deg 46.3% 83.9%;
  --jade-6: 154deg 43.1% 77.3%;
  --jade-7: 159deg 40.6% 67.6%;
  --jade-8: 164deg 42% 53.3%;
  --jade-9: 164deg 59.8% 40%;
  --jade-10: 164deg 60.2% 37.5%;
  --jade-11: 164deg 60.7% 32%;
  --jade-12: 160deg 34.1% 17.3%;
}
.dark, .dark-theme {
  --jade-1: 158deg 23.5% 6.7%;
  --jade-2: 156deg 21.7% 9%;
  --jade-3: 157deg 50.8% 12%;
  --jade-4: 161deg 68.6% 13.7%;
  --jade-5: 161deg 61.8% 17.5%;
  --jade-6: 162deg 52.6% 22.4%;
  --jade-7: 162deg 48.6% 27.5%;
  --jade-8: 164deg 50% 32.9%;
  --jade-9: 164deg 59.8% 40%;
  --jade-10: 164deg 63.7% 42.2%;
  --jade-11: 163deg 74.9% 48.4%;
  --jade-12: 155deg 69.1% 81%;
}