:root, .light, .light-theme {
  --lime-1: 80deg 42.9% 98.6%;
  --lime-2: 77deg 41.2% 96.7%;
  --lime-3: 75deg 64% 90.2%;
  --lime-4: 76deg 63% 84.1%;
  --lime-5: 78deg 57.5% 77.8%;
  --lime-6: 80deg 49.7% 71.2%;
  --lime-7: 82deg 42.9% 62.9%;
  --lime-8: 85deg 40.2% 52.2%;
  --lime-9: 81deg 80.3% 66.1%;
  --lime-10: 81deg 75.5% 60%;
  --lime-11: 85deg 45% 33.5%;
  --lime-12: 75deg 39.1% 18%;
}
.dark, .dark-theme {
  --lime-1: 77deg 22.6% 6.1%;
  --lime-2: 90deg 23.8% 8.2%;
  --lime-3: 93deg 28.1% 12.5%;
  --lime-4: 92deg 31% 16.5%;
  --lime-5: 91deg 32% 20.2%;
  --lime-6: 92deg 32.3% 24.3%;
  --lime-7: 91deg 33.3% 28.8%;
  --lime-8: 90deg 35.3% 33.9%;
  --lime-9: 81deg 80.3% 66.1%;
  --lime-10: 78deg 100% 72%;
  --lime-11: 80deg 69.9% 66.1%;
  --lime-12: 80deg 79.2% 84.9%;
}