:root, .light, .light-theme {
  --lime-1: 80 42.9 98.6;
  --lime-2: 77 41.2 96.7;
  --lime-3: 75 64 90.2;
  --lime-4: 76 63 84.1;
  --lime-5: 78 57.5 77.8;
  --lime-6: 80 49.7 71.2;
  --lime-7: 82 42.9 62.9;
  --lime-8: 85 40.2 52.2;
  --lime-9: 81 80.3 66.1;
  --lime-10: 81 75.5 60;
  --lime-11: 85 45 33.5;
  --lime-12: 75 39.1 18;
}
.dark, .dark-theme {
  --lime-1: 77 22.6 6.1;
  --lime-2: 90 23.8 8.2;
  --lime-3: 93 28.1 12.5;
  --lime-4: 92 31 16.5;
  --lime-5: 91 32 20.2;
  --lime-6: 92 32.3 24.3;
  --lime-7: 91 33.3 28.8;
  --lime-8: 90 35.3 33.9;
  --lime-9: 81 80.3 66.1;
  --lime-10: 78 100 72;
  --lime-11: 80 69.9 66.1;
  --lime-12: 80 79.2 84.9;
}