:root, .light, .light-theme {
  --mauve-1: 300deg 20% 99%;
  --mauve-2: 270deg 20% 98%;
  --mauve-3: 285deg 14.3% 94.5%;
  --mauve-4: 276deg 11.6% 91.6%;
  --mauve-5: 274deg 12.3% 88.8%;
  --mauve-6: 262deg 11.4% 86.3%;
  --mauve-7: 258deg 11.1% 82.4%;
  --mauve-8: 249deg 10.4% 75.5%;
  --mauve-9: 249deg 6% 57.5%;
  --mauve-10: 250deg 5% 53.3%;
  --mauve-11: 252deg 4.8% 40.8%;
  --mauve-12: 257deg 10.1% 13.5%;
}
.dark, .dark-theme {
  --mauve-1: 270deg 5.6% 7.1%;
  --mauve-2: 270deg 3.8% 10.2%;
  --mauve-3: 260deg 4.2% 13.9%;
  --mauve-4: 270deg 4.7% 16.9%;
  --mauve-5: 264deg 5% 19.8%;
  --mauve-6: 270deg 5% 23.5%;
  --mauve-7: 257deg 4.7% 29.2%;
  --mauve-8: 258deg 5% 39.2%;
  --mauve-9: 251deg 4.8% 44.9%;
  --mauve-10: 251deg 4.3% 50%;
  --mauve-11: 258deg 6.9% 71.8%;
  --mauve-12: 240deg 6.2% 93.7%;
}