:root, .light, .light-theme {
  --mauve-1: 300 20 99;
  --mauve-2: 270 20 98;
  --mauve-3: 285 14.3 94.5;
  --mauve-4: 276 11.6 91.6;
  --mauve-5: 274 12.3 88.8;
  --mauve-6: 262 11.4 86.3;
  --mauve-7: 258 11.1 82.4;
  --mauve-8: 249 10.4 75.5;
  --mauve-9: 249 6 57.5;
  --mauve-10: 250 5 53.3;
  --mauve-11: 252 4.8 40.8;
  --mauve-12: 257 10.1 13.5;
}
.dark, .dark-theme {
  --mauve-1: 270 5.6 7.1;
  --mauve-2: 270 3.8 10.2;
  --mauve-3: 260 4.2 13.9;
  --mauve-4: 270 4.7 16.9;
  --mauve-5: 264 5 19.8;
  --mauve-6: 270 5 23.5;
  --mauve-7: 257 4.7 29.2;
  --mauve-8: 258 5 39.2;
  --mauve-9: 251 4.8 44.9;
  --mauve-10: 251 4.3 50;
  --mauve-11: 258 6.9 71.8;
  --mauve-12: 240 6.2 93.7;
}