:root, .light, .light-theme {
  --mint-1: 168deg 71.4% 98.6%;
  --mint-2: 167deg 52.9% 96.7%;
  --mint-3: 165deg 70% 92.2%;
  --mint-4: 165deg 66.7% 87.1%;
  --mint-5: 165deg 60% 81.4%;
  --mint-6: 166deg 52.3% 74.5%;
  --mint-7: 167deg 45.8% 65.3%;
  --mint-8: 168deg 44.9% 51.6%;
  --mint-9: 167deg 70.4% 72.2%;
  --mint-10: 167deg 61.5% 68.4%;
  --mint-11: 170deg 96.7% 23.9%;
  --mint-12: 171deg 50.6% 17.5%;
}
.dark, .dark-theme {
  --mint-1: 180deg 20% 6.9%;
  --mint-2: 180deg 28.6% 8.2%;
  --mint-3: 178deg 66% 10.4%;
  --mint-4: 178deg 100% 11.4%;
  --mint-5: 177deg 100% 13.9%;
  --mint-6: 175deg 68.6% 20%;
  --mint-7: 173deg 55.2% 26.3%;
  --mint-8: 170deg 53% 32.5%;
  --mint-9: 167deg 70.4% 72.2%;
  --mint-10: 168deg 79.4% 81%;
  --mint-11: 167deg 59.8% 59%;
  --mint-12: 156deg 71% 86.5%;
}