:root, .light, .light-theme {
  --olive-1: 120deg 20% 99%;
  --olive-2: 120deg 16.7% 97.6%;
  --olive-3: 120deg 6.7% 94.1%;
  --olive-4: 120deg 4.3% 91%;
  --olive-5: 120deg 4.9% 88%;
  --olive-6: 120deg 3.9% 84.9%;
  --olive-7: 120deg 3% 80.6%;
  --olive-8: 105deg 2.9% 72.9%;
  --olive-9: 103deg 3% 54.3%;
  --olive-10: 103deg 2.8% 50.4%;
  --olive-11: 110deg 3.1% 38.4%;
  --olive-12: 108deg 8.2% 12%;
}
.dark, .dark-theme {
  --olive-1: 90deg 5.9% 6.7%;
  --olive-2: 90deg 4.2% 9.4%;
  --olive-3: 90deg 3% 12.9%;
  --olive-4: 100deg 3.7% 15.9%;
  --olive-5: 100deg 3.2% 18.6%;
  --olive-6: 90deg 3.6% 22%;
  --olive-7: 96deg 3.6% 27.3%;
  --olive-8: 111deg 3.7% 37.1%;
  --olive-9: 108deg 4.7% 42%;
  --olive-10: 107deg 3.7% 47.3%;
  --olive-11: 105deg 5.1% 69.4%;
  --olive-12: 120deg 5.6% 92.9%;
}