:root, .light, .light-theme {
  --pink-1: 320 100 99.4;
  --pink-2: 326 77.8 98.2;
  --pink-3: 326 91.3 95.5;
  --pink-4: 323 79.5 92.4;
  --pink-5: 323 69 88.6;
  --pink-6: 322 60 84.3;
  --pink-7: 323 55.1 79;
  --pink-8: 322 52.1 72.2;
  --pink-9: 322 64.7 54.5;
  --pink-10: 322 61.1 51.6;
  --pink-11: 322 65.1 46.1;
  --pink-12: 320 69.7 23.3;
}
.dark, .dark-theme {
  --pink-1: 315 19 8.2;
  --pink-2: 316 29.4 10;
  --pink-3: 315 41 15.3;
  --pink-4: 315 57.9 18.6;
  --pink-5: 318 52.1 22.9;
  --pink-6: 319 43.8 28.6;
  --pink-7: 321 40.1 36.7;
  --pink-8: 322 40 47.1;
  --pink-9: 322 64.7 54.5;
  --pink-10: 323 68.1 59.4;
  --pink-11: 327 100 77.6;
  --pink-12: 326 91.7 90.6;
}