:root, .light, .light-theme {
  --pink-1: 320deg 100% 99.4%;
  --pink-2: 326deg 77.8% 98.2%;
  --pink-3: 326deg 91.3% 95.5%;
  --pink-4: 323deg 79.5% 92.4%;
  --pink-5: 323deg 69% 88.6%;
  --pink-6: 322deg 60% 84.3%;
  --pink-7: 323deg 55.1% 79%;
  --pink-8: 322deg 52.1% 72.2%;
  --pink-9: 322deg 64.7% 54.5%;
  --pink-10: 322deg 61.1% 51.6%;
  --pink-11: 322deg 65.1% 46.1%;
  --pink-12: 320deg 69.7% 23.3%;
}
.dark, .dark-theme {
  --pink-1: 315deg 19% 8.2%;
  --pink-2: 316deg 29.4% 10%;
  --pink-3: 315deg 41% 15.3%;
  --pink-4: 315deg 57.9% 18.6%;
  --pink-5: 318deg 52.1% 22.9%;
  --pink-6: 319deg 43.8% 28.6%;
  --pink-7: 321deg 40.1% 36.7%;
  --pink-8: 322deg 40% 47.1%;
  --pink-9: 322deg 64.7% 54.5%;
  --pink-10: 323deg 68.1% 59.4%;
  --pink-11: 327deg 100% 77.6%;
  --pink-12: 326deg 91.7% 90.6%;
}