:root, .light, .light-theme {
  --purple-1: 300 50 99.2;
  --purple-2: 274 77.8 98.2;
  --purple-3: 275 89.5 96.3;
  --purple-4: 277 81.3 93.7;
  --purple-5: 275 75 90.6;
  --purple-6: 275 68.6 86.3;
  --purple-7: 273 61.6 80.6;
  --purple-8: 272 60 73.5;
  --purple-9: 272 51.3 54.1;
  --purple-10: 272 44.9 50.2;
  --purple-11: 272 44.8 49;
  --purple-12: 270 50 25.1;
}
.dark, .dark-theme {
  --purple-1: 282 22.7 8.6;
  --purple-2: 279 25 11;
  --purple-3: 279 35.6 17.1;
  --purple-4: 277 39.3 22;
  --purple-5: 276 38.3 26.1;
  --purple-6: 275 34.6 31.2;
  --purple-7: 274 32.7 38.4;
  --purple-8: 273 32.8 50.4;
  --purple-9: 272 51.3 54.1;
  --purple-10: 272 55.2 58.8;
  --purple-11: 272 100 80.8;
  --purple-12: 275 76.7 91.6;
}