:root, .light, .light-theme {
  --purple-1: 300deg 50% 99.2%;
  --purple-2: 274deg 77.8% 98.2%;
  --purple-3: 275deg 89.5% 96.3%;
  --purple-4: 277deg 81.3% 93.7%;
  --purple-5: 275deg 75% 90.6%;
  --purple-6: 275deg 68.6% 86.3%;
  --purple-7: 273deg 61.6% 80.6%;
  --purple-8: 272deg 60% 73.5%;
  --purple-9: 272deg 51.3% 54.1%;
  --purple-10: 272deg 44.9% 50.2%;
  --purple-11: 272deg 44.8% 49%;
  --purple-12: 270deg 50% 25.1%;
}
.dark, .dark-theme {
  --purple-1: 282deg 22.7% 8.6%;
  --purple-2: 279deg 25% 11%;
  --purple-3: 279deg 35.6% 17.1%;
  --purple-4: 277deg 39.3% 22%;
  --purple-5: 276deg 38.3% 26.1%;
  --purple-6: 275deg 34.6% 31.2%;
  --purple-7: 274deg 32.7% 38.4%;
  --purple-8: 273deg 32.8% 50.4%;
  --purple-9: 272deg 51.3% 54.1%;
  --purple-10: 272deg 55.2% 58.8%;
  --purple-11: 272deg 100% 80.8%;
  --purple-12: 275deg 76.7% 91.6%;
}