:root, .light, .light-theme {
  --ruby-1: 340deg 100% 99.4%;
  --ruby-2: 353deg 100% 98.4%;
  --ruby-3: 351deg 90.9% 95.7%;
  --ruby-4: 351deg 100% 93.1%;
  --ruby-5: 350deg 100% 90.4%;
  --ruby-6: 351deg 80.3% 86.1%;
  --ruby-7: 349deg 67.7% 80.6%;
  --ruby-8: 348deg 61.5% 73.5%;
  --ruby-9: 348deg 75.4% 58.6%;
  --ruby-10: 347deg 69.7% 54.7%;
  --ruby-11: 345deg 69.7% 46.7%;
  --ruby-12: 344deg 62.6% 24.1%;
}
.dark, .dark-theme {
  --ruby-1: 345deg 19% 8.2%;
  --ruby-2: 347deg 17.6% 10%;
  --ruby-3: 344deg 48.7% 15.3%;
  --ruby-4: 342deg 60.8% 19%;
  --ruby-5: 342deg 56.7% 23.5%;
  --ruby-6: 344deg 50% 29%;
  --ruby-7: 346deg 44.7% 36.9%;
  --ruby-8: 348deg 44.9% 48.4%;
  --ruby-9: 348deg 75.4% 58.6%;
  --ruby-10: 350deg 79.3% 63.9%;
  --ruby-11: 355deg 100% 79%;
  --ruby-12: 340deg 95.7% 91%;
}