:root, .light, .light-theme {
  --ruby-1: 340 100 99.4;
  --ruby-2: 353 100 98.4;
  --ruby-3: 351 90.9 95.7;
  --ruby-4: 351 100 93.1;
  --ruby-5: 350 100 90.4;
  --ruby-6: 351 80.3 86.1;
  --ruby-7: 349 67.7 80.6;
  --ruby-8: 348 61.5 73.5;
  --ruby-9: 348 75.4 58.6;
  --ruby-10: 347 69.7 54.7;
  --ruby-11: 345 69.7 46.7;
  --ruby-12: 344 62.6 24.1;
}
.dark, .dark-theme {
  --ruby-1: 345 19 8.2;
  --ruby-2: 347 17.6 10;
  --ruby-3: 344 48.7 15.3;
  --ruby-4: 342 60.8 19;
  --ruby-5: 342 56.7 23.5;
  --ruby-6: 344 50 29;
  --ruby-7: 346 44.7 36.9;
  --ruby-8: 348 44.9 48.4;
  --ruby-9: 348 75.4 58.6;
  --ruby-10: 350 79.3 63.9;
  --ruby-11: 355 100 79;
  --ruby-12: 340 95.7 91;
}