:root, .light, .light-theme {
  --sage-1: 150 33.3 98.8;
  --sage-2: 150 14.3 97.3;
  --sage-3: 160 9.7 93.9;
  --sage-4: 160 6.4 90.8;
  --sage-5: 140 4.9 88;
  --sage-6: 160 3.9 84.9;
  --sage-7: 150 4 80.4;
  --sage-8: 150 2.9 72.9;
  --sage-9: 157 3.4 54.1;
  --sage-10: 157 3.1 50.2;
  --sage-11: 160 3.1 38.4;
  --sage-12: 154 11.9 11.6;
}
.dark, .dark-theme {
  --sage-1: 150 5.9 6.7;
  --sage-2: 150 4.2 9.4;
  --sage-3: 150 3 12.9;
  --sage-4: 160 3.7 15.9;
  --sage-5: 160 3.2 18.6;
  --sage-6: 150 3.5 22.4;
  --sage-7: 156 3.5 27.6;
  --sage-8: 154 3.7 37.1;
  --sage-9: 157 6.2 41.4;
  --sage-10: 160 5 46.7;
  --sage-11: 157 5.1 69.4;
  --sage-12: 150 5.6 92.9;
}