:root, .light, .light-theme {
  --sand-1: 60deg 20% 99%;
  --sand-2: 60deg 7.7% 97.5%;
  --sand-3: 30deg 6.7% 94.1%;
  --sand-4: 40deg 6.4% 90.8%;
  --sand-5: 45deg 6.5% 87.8%;
  --sand-6: 45deg 5.1% 84.7%;
  --sand-7: 48deg 5% 80.2%;
  --sand-8: 51deg 5% 72.4%;
  --sand-9: 60deg 3% 53.9%;
  --sand-10: 60deg 2.4% 49.8%;
  --sand-11: 60deg 2.6% 37.8%;
  --sand-12: 48deg 8.2% 12%;
}
.dark, .dark-theme {
  --sand-1: 60deg 3% 6.5%;
  --sand-2: 60deg 2% 9.6%;
  --sand-3: 60deg 1.5% 13.1%;
  --sand-4: 60deg 2.4% 16.1%;
  --sand-5: 60deg 3.2% 18.6%;
  --sand-6: 45deg 3.5% 22.4%;
  --sand-7: 48deg 3.5% 27.6%;
  --sand-8: 43deg 3.7% 37.1%;
  --sand-9: 47deg 4.2% 41.8%;
  --sand-10: 53deg 3.3% 47.1%;
  --sand-11: 45deg 5.1% 69.4%;
  --sand-12: 60deg 5.6% 92.9%;
}