:root, .light, .light-theme {
  --sky-1: 190deg 100% 98.8%;
  --sky-2: 195deg 75% 96.9%;
  --sky-3: 195deg 87.5% 93.7%;
  --sky-4: 195deg 80.4% 90%;
  --sky-5: 195deg 73.3% 85.3%;
  --sky-6: 197deg 65.4% 79.6%;
  --sky-7: 197deg 60.6% 72.2%;
  --sky-8: 198deg 59.8% 61%;
  --sky-9: 193deg 98.5% 74.1%;
  --sky-10: 194deg 90.4% 71.4%;
  --sky-11: 196deg 100% 31%;
  --sky-12: 205deg 49.6% 22.5%;
}
.dark, .dark-theme {
  --sky-1: 217deg 40.9% 8.6%;
  --sky-2: 215deg 39.3% 11%;
  --sky-3: 211deg 58% 15.9%;
  --sky-4: 208deg 66.7% 20%;
  --sky-5: 206deg 66.1% 24.3%;
  --sky-6: 205deg 64% 29.4%;
  --sky-7: 203deg 65% 34.7%;
  --sky-8: 200deg 74.9% 39%;
  --sky-9: 193deg 98.5% 74.1%;
  --sky-10: 192deg 100% 82.9%;
  --sky-11: 200deg 80.4% 70%;
  --sky-12: 192deg 100% 88%;
}