:root, .light, .light-theme {
  --slate-1: 240 20 99;
  --slate-2: 240 20 98;
  --slate-3: 240 11.1 94.7;
  --slate-4: 240 9.5 91.8;
  --slate-5: 230 10.7 89;
  --slate-6: 240 10.1 86.5;
  --slate-7: 233 9.9 82.2;
  --slate-8: 231 10.2 75.1;
  --slate-9: 231 5.9 57.1;
  --slate-10: 226 5.4 52.7;
  --slate-11: 220 5.9 40;
  --slate-12: 210 12.5 12.5;
}
.dark, .dark-theme {
  --slate-1: 240 5.6 7.1;
  --slate-2: 220 5.9 10;
  --slate-3: 225 5.7 13.7;
  --slate-4: 210 7.1 16.5;
  --slate-5: 214 7.1 19.4;
  --slate-6: 213 7.7 22.9;
  --slate-7: 213 7.6 28.4;
  --slate-8: 212 7.7 38.2;
  --slate-9: 219 6.3 43.9;
  --slate-10: 222 5.2 49.2;
  --slate-11: 216 6.8 71;
  --slate-12: 220 9.1 93.5;
}