:root, .light, .light-theme {
  --violet-1: 270 50 99.2;
  --violet-2: 257 100 98.6;
  --violet-3: 257 87.5 96.9;
  --violet-4: 256 100 94.7;
  --violet-5: 253 100 92.5;
  --violet-6: 252 96.3 89.4;
  --violet-7: 252 76.2 83.5;
  --violet-8: 252 68.6 76.3;
  --violet-9: 252 55.8 57.5;
  --violet-10: 252 50.2 53.5;
  --violet-11: 252 42.9 52;
  --violet-12: 249 42.9 26.1;
}
.dark, .dark-theme {
  --violet-1: 249 26.5 9.6;
  --violet-2: 263 27.6 11.4;
  --violet-3: 257 36.7 19.2;
  --violet-4: 256 42.2 25.1;
  --violet-5: 254 39.1 29.6;
  --violet-6: 255 35.6 34.1;
  --violet-7: 254 33 41;
  --violet-8: 252 34.1 51.2;
  --violet-9: 252 55.8 57.5;
  --violet-10: 252 60.2 62.5;
  --violet-11: 253 100 82.7;
  --violet-12: 249 94.3 93.1;
}